# *****************************************************************************
# backup OpenLDAP data container
mkdir -p -m u=rwx,g=rwx,o= "{{ openldap_docker_backup_dir }}"

printf '\n==> Backing up OpenLDAP databases \n'
docker run --rm \
    --volume {{ openldap_cv_name }}:/etc/ldap:z \
    --volume {{ openldap_dv_name }}:/var/lib/ldap:z \
    --volume {{ openldap_docker_backup_dir }}:/tmp/import_export:z \
    {{ openldap_image_name }}:{{ docker_image_tag }} backup
