# *****************************************************************************
# Backup SVN repositories
mkdir -p -m u=rwx,g=rwx,o= "{{ svn_docker_backup_dir }}"

printf '\n==> Backing up Subversion repositories \n'
docker exec {{ svn_container_name }} \
    /docker-entrypoint.sh hotcopy
