# *****************************************************************************
# Backup EXIM data container
mkdir -p -m u=rwx,g=rwx,o= "{{ exim4_docker_backup_dir }}"

printf '\n==> Backing up Exim4 files \n'
docker run --rm \
    --network none \
    --volume {{ exim4_dv_name }}:/src:z \
    --volume {{ exim4_docker_backup_dir }}:/dest:z \
    {{ rsync_image_name }} \
    rsync --archive --itemize-changes --delete /src/ /dest/
