# *****************************************************************************
# Backup openssl data container
mkdir -p -m u=rwx,g=rwx,o= "{{ openssl_docker_backup_dir }}"

printf '\n==> Backing up OpenSSL files \n'
docker run --rm \
    --network none \
    --volume {{ openssl_dv_name }}:/src:z \
    --volume {{ openssl_docker_backup_dir }}:/dest:z \
    {{ rsync_image_name }} \
    rsync --archive --itemize-changes --delete /src/ /dest/
