#
# Bacula User Agent (or Console) Configuration File
#

Director {
  Address = {{ bacula_director_address }}
  Name = {{ bacula_director_name }}
  Password = {{ bacula_director_password }}
  DIRport = {{ bacula_director_port }}
}
