#
# Bacula Storage Daemon Configuration file
#

Storage {
  Name = {{ bacula_storage_name }}
  SDPort = {{ bacula_storage_port }}
  WorkingDirectory = {{ bacula_storage_working_dir }}
  Pid Directory = {{ bacula_storage_pid_dir }}
  Plugin Directory = "{{ bacula_storage_plugins_dir }}"
  Maximum Concurrent Jobs = {{ bacula_storage_concurrent_jobs }}
}

#
# Directors who are permitted to contact Storage daemon
#
Director {
  Name = {{ bacula_director_name }}
  Password = {{ bacula_storage_password }}
}

Device {
  Name = {{ bacula_storage_device_name }}
  Device Type = {{ bacula_storage_device_type }}
  Media Type = {{ bacula_storage_device_media_type }}
  Archive Device = {{ bacula_storage_device_archive_device }}
  AutomaticMount = {{ bacula_storage_device_automatic_mount }}
  AlwaysOpen = {{ bacula_storage_device_always_open }}
  RemovableMedia = {{ bacula_storage_device_removable_media }}
  RandomAccess = {{ bacula_storage_device_random_access }}
#  AutoChanger = yes
}

#
# Send all messages to the Director,
# mount messages also are sent to the email address
#
Messages {
  Name = Standard
  director = {{ bacula_director_name }} = all
}
