#===============================================================================
# Backup Build System
mkdir -p -m u=rwx,g=rwx,o= "{{ backup_buildsystem_docker_dir }}"

printf '\n==> Backing up BuildSystem \n'
docker run --rm \
    --volume {{ backup_buildsystem_docker_dir }}:/backup:z \
    --volumes-from {{ docker_name_prefix }}TestStation_http_data_testclient \
    --volumes-from {{ docker_name_prefix }}TestStation_tftp_data \
    --link={{ docker_name_prefix }}TestStation_database_server:test_station_mysql_server \
    --name Backup_Restore_BS_SS \
    {{ teststation_supportsite_backup_restore_image }} \
    backup_buildsystem
