#===============================================================================
# Backup DDIO Build System
mkdir -p -m u=rwx,g=rwx,o= "{{ backup_ddio_docker_dir }}"

printf '\n==> Backing up DDIO BuildSystem \n'
docker run --rm \
    --volume {{ backup_ddio_docker_dir }}:/backup:z \
    --volume {{ docker_name_prefix }}/TestStation_tftp_ddio_data:/opt/tftp_files:z \
    --link={{ docker_name_prefix }}TestStation_ddio_database_server:ddio_mysql_server \
    --name Backup_Restore_BS_SS \
    {{ teststation_supportsite_backup_restore_image }} \
    backup_ddio
