#===============================================================================
# Backup Support Site
mkdir -p -m u=rwx,g=rwx,o= "{{ backup_supportsite_docker_dir }}"

printf '\n==> Backing up SupportSite \n'
docker run --rm \
    --volume {{ backup_supportsite_docker_dir }}:/backup:z \
    --name Backup_Restore_BS_SS \
    {{ teststation_supportsite_backup_restore_image }} \
    backup_supportsite
