# *****************************************************************************
# Backup gitlab
mkdir -p -m u=rwx,g=rwx,o= "{{ gitlab_docker_backup_dir }}"

# Backup gitlab data
printf '\n==> Backing up GitLab data \n'
docker exec \
    --env BACKUP='{{gitlab_version}}' \
    --env GZIP_RSYNCABLE=yes \
    {{ gitlab_container_name }} \
    gitlab-rake \
        gitlab:backup:db:create \
        gitlab:backup:repo:create \
        gitlab:backup:uploads:create \
        gitlab:backup:builds:create \
        gitlab:backup:artifacts:create \
        gitlab:backup:pages:create \
        gitlab:backup:lfs:create \
        gitlab:backup:registry:create

# Backup gitlab config
printf '\n==> Backing up GitLab secrets \n'
docker exec \
    {{ gitlab_container_name }} \
    rsync --archive --itemize-changes --delete \
        "/etc/gitlab/" \
        "{{ gitlab_bv_mountpoint }}/etc/"


docker exec -t {{ gitlab_container_name }} gitlab-rake gitlab:backup:create
